/* satisfy-regular - latin */
@font-face {
    font-family: 'Satisfy';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''),
         url('../fonts/satisfy-v17-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/satisfy-v17-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
a{
    text-decoration: none;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('images/background.jpg');
    background-size: cover;
}
.container{
    background-color: rgba(255,255,255,0.4);
    padding: 5px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    text-align: center;
    border: 1px solid #fff;
    user-select: none;
    cursor: pointer;
}
.container-img{
    width: 380px;
    height: 190px;
    border: 2px solid #0ff;
    margin: 0 auto;
    margin-bottom: 12px;
    border-radius: 10px;
}
.container-img img{
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: 10px;
}
.score{
    margin: 10px 0;
    font-size: 50px;
}
.select{
    width: 80px;
    padding: 7px 10px;
    font-size: 28px;
    border-radius: 8px;
    font-weight: 800;
    outline: none;
    border: 1px solid #fff;
    background: transparent;
    margin-bottom: 15px;
}
.btn{
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
}
.btn:hover{
    opacity: 0.8;
}
.btn:active{
    opacity: 0.6;
}
.player1-btn{
    background-color: rgb(0, 255, 0);
    margin-right: 20px;
}
.player2-btn{
    background-color: #0ff;
}
.reset{
    background-color: red;
    padding: 9px 40px;
    margin-top: 20px;
}
.links{
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;
}
.links div:not(:last-child){
    margin-right: 50px;
}
.link{
    display: flex;
    align-items: center;
    color: #000;
}
.link:hover{
    color: #0ff;
    text-shadow: 2px 2px red;
}
.link:hover svg path{
    fill: #0ff;
    text-shadow: 2px 2px red;
}
.link svg{
    width: 30px;
    height: 30px;
}
.link span{
    margin-left: 10px;
    font-size: 22px;
}

.name{
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 35px;
    z-index: -1;
    font-weight: 400;
    font-family: 'Satisfy', sans-serif;
    animation: animat 6s linear 1s infinite;
}
@keyframes animat{
    0%{
        left: 0;
        opacity: 0.8;
    }
    50%{
        color: red;
    }
    70%{
        color: rgb(15, 255, 15);
    }
    90%{
        opacity: 1;
        color: #0ff;
    }
    100%{
        left: 70%;
        opacity: 0.2;
        color: blue;
    }
}